
header {
    text-align: center;
    background-image: url(https://static.pexels.com/photos/5110/road-dawn-mountains-sky.jpeg);
    height:70px;
    padding-top: 30px;
    color:antiquewhite;
}

body {
    margin:0px;
    padding: 0px;
    padding-top: 3.65em;
}

.navel {
    padding-left: 7%;
    padding-right: 7%;
    border:white solid;
    color:aqua;
}

nav {
    padding-left: 8%;
    z-index: 2;
    background-color: black;
    padding-top: 10px;
    height:30px;
}

#markeri {
    width:5%;
    height:400px;
    float:left;
    background-color: gray;
}



#feed {
    float:left;
    width:50%;
    height:400px;
    background-color: gray;
}

#ayy {
    display: inline-block;
    width:100%;
}

#black {
    background-color: black;
    height: 50px;
    position:relative;
    bottom: 5px;
}


.fb-like {
    height:100px;
    width:100px;
}



.page-header {
  padding-top: 1em;
}

.fb-login-button {
    position:relative;
    top: 1em;
    right:1.5em;
}



.navbar-brand {
    position:relative;
    right:2em;
    bottom:0.5em;
}



#map {
    height:30em;
}





.col-sm-6 {
    padding: 0px !important;
}





.modal-header {
    text-align: center;
}
