
header {
    text-align: center;
    background-image: url(https://static.pexels.com/photos/5110/road-dawn-mountains-sky.jpeg);
    height:70px;
    padding-top: 30px;
    color:antiquewhite;
}

body {
    margin:0px;
    padding: 0px;
    padding-top: 3.65em;
}

.navel {
    padding-left: 7%;
    padding-right: 7%;
    border:white solid;
    color:aqua;
}

nav {
    padding-left: 8%;
    z-index: 2;
    background-color: black;
    padding-top: 10px;
    height:30px;
}

#markeri {
    width:5%;
    height:400px;
    float:left;
    background-color: gray;
}



#feed {
    float:left;
    width:50%;
    height:400px;
    background-color: gray;
}

#ayy {
    display: inline-block;
    width:100%;
}

#black {
    background-color: black;
    height: 50px;
    position:relative;
    bottom: 5px;
}


.fb-like {
    height:100px;
    width:100px;
}



.page-header {
  padding-top: 1em;
}

.fb-login-button {
    position:relative;
    top: 1em;
    right:1.5em;
}



.navbar-brand {
    position:relative;
    right:2em;
    bottom:0.5em;
}

#map {
    height:30em;
    margin-left: 90px;
}

#floating-panel {
       float:right;
       top: 100px;
       left: 125%;
       z-index: 5;
       background-color: lightblue;
       padding: 3px;
       border: 2px solid #999;
       text-align: center;
       font-family: 'Roboto','sans-serif';
       line-height: 30px;
       padding-left: 5px;
     }
.icon-bar {
    width: 90px;
    background-color: #555;
    display: inline-block;
    float: left;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}
